@charset "UTF-8";

.div1{
    display: flex;
    gap: 20px;
    margin: 10px 0px 0px 0px;
}

.mhome{
    backdrop-filter: blur(20px);
    width: 75em;
    height: 30em;
    border-radius: 50px;
    margin: auto;
    background-color: rgba(0, 0, 54, 0.418);
}

.divp{
    display: flex;
    flex-direction: column;
    margin: 100px 0px 0px 0px;
}
.texto1{
    color: aliceblue;
    font: 200 1.2em Josefin sans;
    text-align: center;
    text-align: justify;
    margin-left: 100px;
}

.nome{
    color: aliceblue;
    font: 100 1.5em oswald;
    text-align: center;
    margin-left: 100px;
}

.divimg{
    display: flex;
    flex-direction: row;
    margin: 23px 0px 0px 8px;
}

.img{
    width: 50%;
    border-radius: 50%;
    align-items: center;
    margin: 24px 22px 0px 18px;
    width: auto;
    height: 368px;
}
